/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #3D4000;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
a{
    text-decoration: none;
    -webkit-transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    -ms-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
    background: #CCCCC8;
}

.wrap{
    margin: 0 auto;
    width: 980px;
}

header{
    width: 100%;
    height: 48px;
    background: white;
    border-bottom: 16px solid #FBE212;
    line-height: 48px;
    font-weight: 700;
}
header h1{
    margin: 0 20px 0 0;
    padding: 0;
    font-size: 16px;
    line-height: 48px;
    height: 48px;
    display: inline;
}
header img{
    margin-top: -3px;
    margin-right: 14px;
}
header a{
    display: inline-block;
    padding: 0 20px;
    color: #3d3c25;
    font-size: 12px;
    text-align: center;
    opacity: 0.5;
}
header a:hover{
    opacity: 1.0;
}
header a img{
    margin-top: -3px;
}
.selected{
    color: #3d3c25 !important;
    opacity: 1.0 !important;
    cursor: default;
}


#menu{
    display: inline;
}
#email{
    float: right;
    font-weight: 300;
}
#email img{
    margin-left: 6px;
}
#main-head{
    margin: 24px auto 0 auto;
    width: 1040px;
    background: #DBDBD7;
    height: 60px;
    line-height: 60px;
    font-size: 14px;
    font-weight: 700;
    border: 1px solid #c2c1af;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
#main-head img{
    margin-right: 14px;
}

#main{
    clear: both;
    overflow: auto;
    margin: 0 auto;
    padding: 30px 0 50px 0;
    width: 1040px;
    min-height: 300px;
    background: #fff;
    border-bottom: 1px solid #c2c1af;
    border-right: 1px solid #c2c1af;
    border-left: 1px solid #c2c1af;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0px 1px 0px #ccc;
}
#left{
    display: block;
    width: 18%;
    float: left;
}
#left-menu h3{
    margin: 0;
    font-size: 11px;
    padding: 3px 8px;
    background: #FBE212;
}

ul.options{
    list-style: none;
    margin: 10px 0 10px 0;
    padding: 0;
    font-size: 11px;
    font-weight: 700;
    text-transform:uppercase;
    color: #99977a;
}
ul.options li{
    cursor: pointer;
    border-bottom: 1px solid #c2c1af;
    padding: 8px 0 8px 8px;
}
ul.options li:hover{
    cursor: pointer;
    background: #eeede6;
}
ul.options li:last-child {
    border: none;
}
ul.options li span{
    display: block;
    width: 10px;
    float: right;
    margin-right: 8px;
}
#left p{
    font-size: 11px;
}

#right{
    display: block;
    width: 82%;
    float: left;
}
#right-space{
    margin: 0 30px;
}
#right h2{
    margin: 0;
    display: inline-block;
    padding: 0;
    font-weight: 300;
    font-size: 28px;
    margin-right: 8px;
}
#right a.week{
    color: #99977a;
    font-size: 11px;
    text-decoration: none;
}
#right a.week:hover{
    text-decoration: underline;
}
#right a.selected{
    color: #3d3c25;
    text-decoration: underline;
    cursor: default;
}
#right span{
    margin-top: 16px;
    float: right;
    font-size: 11px;
}

table{
    margin-top: 10px;
}
table td {
    padding: 2px 6px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    border-left: 4px solid #fff;
    background: #DBDBD7;
    font-size: 10px;
}
table td:hover {
    background: #262617;
    cursor: pointer;
    color: #FFFFFF;
}

table td.thead{
    font-size: 12px;
    background: #fff;
    text-align: center;
}
table td.thead:hover{
    color: #3D4000
}

table td.date{
    font-size: 10px;
    background: #fff;
    text-align: center;
}
table td.date:hover{
    color: #3D4000
}
table td.time{
    padding: 3px 12px 3px 0;
    font-size: 12px;
    background: #fff;
    text-align: right;
}
table td.time:hover{
    color: #3D4000
}
table td.box{
    width: 90px;
}

table.rplhours td:hover{
    background: #DBDBD7;
    cursor: auto;
    color: #3D4000;
}
table.rplhours td.thead{
    font-size: 12px;
    background: #fff;
    text-align: center;
}

table td.shift{
    font-size: 10px;
    background: #fff;
    text-align: center;
    width: 70px;
    height: 24px;
}
table td.shift:hover{
    color: #3D4000
}


footer{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 12px;
    color: #999893;
    text-align: center;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}